/* This file is for styles that apply specifically to the "survey.html" landing page */
@import 'no-sidebar-page-body.less';

/* This selector is so specific because it has to override some other styles :( */
body.survey:not(.other) {
	.no-sidebar-page-body;

	section.title .heading h1 {
		font-size: 75px;
		font-weight: 300;
		padding: 55px 0 0;
		text-align: center;

		@media(max-width: @screen-sm) {
			font-size: 55px;
			line-height: 50px;
		}
		@media(max-width: @screen-xs) {
			font-size: 35px;
			line-height: 50px;
		}
	}

	figure {
		text-align: center;
		figcaption {
			margin-top: -20px;
		}
	}

	.comment.survey-is-active {
		.cta, .youtube-embed {
			display: block;
		}
		.form-explanation {
			display: none;
		}
	}

	.cta {
		display: none;
		font-size: @font-size-large;
		margin: 3 * @padding-large-vertical 0;
		text-align: center;
	}

	.hbspt-form {
		.submitted-message {
			font-size: @font-size-large;
			font-weight: bold;
			margin: 3 * @padding-large-vertical 0;
			text-align: center;
		}
	}

	.hs-form {
		margin: 3 * @padding-large-vertical auto;
		max-width: @contentWidth / 2;// Max width for desktop
		width: 100%;// Max width for mobile

		.hs-button.primary,
		input[type="submit"],
		input[type="button"] {
			.button;
		}
		input {
			width: 100%;
		}
		label span {
			font-size: 16px;
			font-weight: bold;
		}
		.hs-error-msgs {
			list-style: none;
			padding: 0 0 @padding-large-vertical;

			label {
				color: red;
			}
		}
		.hs-form-required {
			display: none;
		}
	}

	.youtube-embed {
		display: none;
		margin: 3 * @padding-large-vertical 0;
		text-align: center;

		iframe {
			margin: 0;
		}

		p {
			text-align: left;
		}
	}
}
