calendar-events {
  display    : block;
  white-space: nowrap;
  margin-left: -10px;

  a.open-in-new {
    display      : inline-block;
    white-space  : nowrap;
    position     : relative;
    padding-right: 18px;

    &:after {
      content          : '';
      background-image : url(../img/icon-open-in-new-white.svg);
      background-size  : 12px 12px;
      background-repeat: no-repeat;
      width            : 12px;
      height           : 12px;
      position         : absolute;
      right            : 0;
      top              : 50%;
      transform        : translateY(-50%);
    }
  }

  .danger small {
    white-space: normal;
  }
}
